
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,800&display=swap');
*       {
            margin:0;
            padding:0;
            box-sizing: border-box;
        }

  header{

        background-color: black;
        
        }  

  h1    {
    
            text-align:center;
            font-family: 'Montserrat', sans-serif; font-weight:800;
            font-size:x-large;
            color: white;
        }
        
  h2    {
            text-align:center;
            font-family: 'Montserrat', sans-serif; font-weight: 500;
            font-size:large;
            background-color: red;
            color: black;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        

img     {
            height: 150px;
            opacity: 70%;
            border-radius: 50%;
        }

nav     {
            margin-top:20px;
            margin-bottom:30px;
            display:inline-block;
            text-align:center;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
        }

ul      {
           display:inline-block;
           width: 100%;
           
        }

li      {
          display:inline-block;
          margin-inline:20px;
        }

nav,ul,li,a{ 
           
           text-decoration:solid;
           font-weight: bolder;
           font-size:large;

         }

a       {
          color:red;
        }

@media screen and (max-width:1020px){

        nav,ul,li{
           display:flex;
           flex-direction: column; 
           gap:10px;    
        }
}



body    {
           background-image: url("main.jpg");
           background-position:center;
           background-size: cover;
           background-repeat: no-repeat;
           background-attachment: fixed;
    
        }

.box    {
           width: 300px;
           height: 300px;
           
        }


.box1   {
           background-color: black;
           margin-left: 50px;
           border: 10px solid white;
           overflow: hidden;
           
        }

h3      {
           text-align:center;
           font-family: 'Montserrat', sans-serif; font-weight:800;
           font-size:x-large;
           color: white;

        }   
        

.box2   {
           background-color: green;
           border-radius: 50%;
           margin:auto;
           margin-top: 90px;
           opacity:80%;
           
        } 

p       {
           text-align:center;
           font-family: 'Montserrat', sans-serif; font-weight:800;
           font-size:large;
           color: black;
           font-style: oblique;
           padding: 50px;
        }



footer  {
         background-color: red; 
         border-top-right-radius: 70%;
         margin-top: 100px;
         height:auto;
         border-style: dotted;
        }

h4      {
    
            text-align:left;
            font-family: 'Montserrat', sans-serif; font-weight:800;
            font-size:large;
            color: black;
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: bolder;
        }
        